html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16pt;
    padding: 0;
    margin: 0;
}

main {
    padding-bottom: 32px;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
    line-height: 1.4;
    color: #353535;
}

p {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    color: #3f454b;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #5177b8;
    -webkit-box-shadow: inset 0 -2px 0 0 #5177b8;
    box-shadow: inset 0 -2px 0 0 #5177b8;
}

code {
    background-color: #f6f6f6;
    font-weight: bold;
    padding: 4px 2px;
}

form label {
    display: block;
}

select {
    display: block;
    width: 150px;
    font-size: 12pt;
    padding: 4px 6px;
}

.header {
    display: block;
    width: 100%;
    padding: 12px 0;
    background-color: #353535;
}

.header h1 {
    font-size: 14pt;
    color: #f6f6f6;
    margin: 0;
    margin-left: 32px;
}

.section {
    width: 90%;
    padding: 1em 0;
    margin: 0 auto;
}

.datatable {
    width: 100%;
    border-spacing: 0;
    text-align: left;
    font-size: 13pt
}

.datatable caption {
    text-align: left;
    font-size: 16pt;
    margin: 12px 0;
    color: #2b2b2b;
    font-weight: 600
}

.datatable thead tr th {
    font-weight: 600;
    padding: 4px 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #2b2b2b;
    color: #2b2b2b
}

.datatable tbody tr td, .datatable tbody tr th {
    font-weight: 400;
    padding: 24px 12px
}

.datatable tbody tr td .hidden-colname, .datatable tbody tr th .hidden-colname {
    display: inline-block;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    overflow: hidden
}

.datatable.row-highlighting tbody tr:nth-child(2n) {
    background-color: #f6f6f6
}

@media (max-width:892px) {
    .datatable thead {
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        width: 1px;
        height: 1px;
        overflow: hidden
    }
    .datatable tbody tr td, .datatable tbody tr th {
        display: block;
        padding: 5px 0 5px 12px
    }
    .datatable tbody tr td .hidden-colname, .datatable tbody tr th .hidden-colname {
        display: inline-block;
        clip: auto;
        width: 150px;
        height: auto;
        line-height: 1
    }
}